<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="FileDataCreateQueue" value="fileMetaDataQueue" />
    <add key="FileMetaDeleteQueue" value="fileMetaDeleteQueue" />
    <add key="FileOpenedQueue" value="fileOpenedQueue" />
    <add key="RedisServerName" value="keithgrima.redis.cache.windows.net:6379" />
    <add key="WebServerUrl" value="http://localhost:8091" />
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fileupload001;AccountKey=XwehxPZtZUQqSftaA7werJlKHeEm+bcbvGAE/k7aYJv3o73DsDYt/V73eNs66hMS5pWyRkDVXQqzFgpdhHTnEg==;EndpointSuffix=core.windows.net" />
    <add key="CsvContainer" value="csvcontainer" />
    <add key="RedisFileMetaList" value="RedisFileMetaList" />
    <add key="RedisConnectionString" value="keithgrima.redis.cache.windows.net:6379,password=rkUf9UwmzMKpmIv5ElQbkWFtMDKtiOMNWdjDpYNqnzI=" />

    <add key="RabbitConnection" value="localhost" />
    <add key="RabbitConnectionPort" value="15672" />
    <add key="RabbitConnectionUsername" value="kgrima" />
    <add key="RabbitConnectionPassword" value="KEITHmq4321" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric.Management.ServiceModel" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.Internal" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>